KEYCLOAK_CLIENT_ID=backend
KEYCLOAK_CLIENT_SECRET=<KEYCLOAK_CLIENT_SECRET> # Client authentication must be enabled! Keycloak -> Clients -> backend -> Credentials -> Client Secret
KEYCLOAK_ISSUER=https://api.weasq.io/auth/realms/master
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<NEXTAUTH_SECRET> # openssl rand -base64 32

NEXT_PUBLIC_BACKEND_API=https://api.weasq.io/api
